<!DOCTYPE HTML> 
<html> 
<head> 
<meta charset="utf-8"> 
<title><%= title %></title> 
<link rel='stylesheet' href='/stylesheets/style.css' />
<script src="http://front.icafe8.com/upload/uploadFile/public/script/jquery-1.7.1.min.js"></script>
<script src="/javascripts/jquery.newMsgBox1.3.1min.js"></script>
</head>
<body> 
<div class="nav">
	<h1>AcCms</h1>
	<a href="/">发布</a> |
	<a href="/list">列表</a>
	<% if(success){ %>
		<span class="success_tip"><%=success%></span>
	<% } %>
</div>




