<% include header %>
	<div class="make_succ">
		生成成功！ 
		<a href="http://127.0.0.1:3000/html/<%=id%>/index.html" target="_blank">查看页面&gt;&gt;</a><br />
		<a href="javascript:history.go(-1);">[返回上一页]</a>
	</div>
</body>
</html>


